Setting Up SQLite in Python

In [1]:
import sqlite3

# Create a connection and cursor
conn = sqlite3.connect("school.db")
cursor = conn.cursor()

Create Table Student

In [17]:
import sqlite3

# Create a connection and cursor
conn = sqlite3.connect("school.db")
cursor = conn.cursor()
students_data = [
    (1, "Alice", 12, "7th", 85, "New York", "Math"),
    (2, "Bob", 13, "7th", 78, "Los Angeles", "Science"),
    (3, "Charlie", 12, "8th", 92, "Chicago", "Math"),
    (4, "David", 14, "8th", 88, "Houston", "English"),
    (5, "Eve", 13, "9th", 95, "Miami", "Science"),
    (6, "Frank", 12, "7th", 67, "Boston", "Math"),
    (7, "Grace", 14, "9th", 80, "Dallas", "English"),
    (8, "Hank", 15, "10th", 85, "Denver", "Science"),
    (9, "Ivy", 12, "7th", 90, "Seattle", "Math"),
    (10, "Jack", 13, "8th", 70, "Atlanta", "English"),
]

cursor.executemany("INSERT INTO students VALUES (?, ?, ?, ?, ?, ?, ?)", students_data)
conn.commit()

OperationalError: no such table: students